# Node
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# OS/editor
.DS_Store
.vscode/
.idea/

# Build
coverage/
dist/
